// import reset
@import "../@common/css/_reset";

//page css
.control{
	margin-bottom:20px;
}

button{
	background:#dadada;
	border:none;
	padding:10px;
	cursor:pointer;
	&.on{
		background:#00a9e2;
	}
}

[data-item]{
	padding:2px;
	margin:2px;
	border:1px solid #dadada;
}