// import reset
@import "../../lib/sass/reset";
@import "../../lib/sass/font";
@import "../../lib/sass/common";

.music-bar {
	margin:80px;
	width:33px;
	height:50px;
}
.music-bar li {
	position:relative;
	float:left;
	width:10px;
	margin:0 0 0 1px;
	height:50px;
}
.music-bar li .bar{
	position:absolute;
	display:block;
	left:0;
	bottom:0;
	width:8px;
	height:0;
	background:#eee;
	border:1px solid #ccc;
	text-align:center;
	-webkit-animation:play 1s infinite;
}
.music-bar li.first .bar{
	-webkit-animation:play 0.8s infinite;
}
.music-bar li.last .bar{
	-webkit-animation:play 1.2s infinite;
}
@-webkit-keyframes play {
	0%   {height:0}
	25%  {height:50px;}
	50%  {height:20px;}
	75%  {height:40px;}
	100% {height:0;}
}